h1 {
    color: purple;
}

p {
       color: red;
}
 body{
     background-color: #00ff00;
    }
    .purple-text {
    color: purple
    }
    .important {
    font-weight: bold;
    }
    #lead-paragraph {
    color: hsl(0, 50%, 50%);
    font-weight: lighter;
    }
    .important:hover {
    background-color: #ff0000
    }
    a[href="https://www.wp.pl/"] {
    background-color: hsla(271, 53%, 74%, .5);
    padding: 1rem;
    }
    a[href="https://www.szpitalpolanki.pl/"] {
    background-color: orange;
    }
    h1 {
    color: red;
    border-style: solid;
    border-color: red;
    }
    p.important {
    width: 75%;
    }
    img {
    border-style: dashed;
    border-color: orange;
    border-width: 3px;
    width: 25%;
}